* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 12%);
    width: 320px;
    height: 500px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
    align-items: center;
}

.card-button {
    background-color: hsl(0, 0%, 20%);
    color: white;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
}

.card-button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.author-name {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.author-subtext {
    font-weight: 700;
    font-size: 14px;
    color: hsl(75, 94%, 57%);
    align-items: center;
}

.author-subtext2 {
    font-weight: 700;
    font-size: 14px;
    color: white;
    align-items: center;
}
